body{
    display: flex;
    text-align: center !important;
    padding-top:15px;
    padding-bottom: 40px;
    align-items: center !important;
}

html, body{
    height: 100%;
}

.bc-dark{
    border-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}